body {
  background-image: url("BackgroundMaze.png");
  background-size: cover;
  text-align: center;
  font-family: "Grand Hotel", cursive;
}


.heading {
  font-size: 100px;
  color: purple;
}

.buttonPlay {
  font-size: 60px;
  text-decoration: none;
  color: purple;

}

.buttonInst{
  font-size: 60px;
  text-decoration: none;
  color: purple;
}

.logo {
  width: 150px;
  height: 150px;
  padding-top: 5px;
}
